@media (min-width: 576px) {
    .container{
        max-width: 540px;
    }
    .about .about-content .about-desc .info .info-item{
        flex: 0 0 calc(50% - 1.5rem);
        max-width: calc(50% - 1.5rem);
    }
    .contact form .input-group input{
        width: calc(33.33% - 2rem);
    }
    .customer .customer-slider .customer-item .caption h2{
        color: #fff;
        background: transparent;
        padding: 0.1rem;
        border-radius: 5rem;
    }
    
    .customer .customer-slider .customer-item .caption h6{
        color: #fff;
        background: transparent;
        padding: 0.1rem;
        border-radius: 5rem;
    }
    
}
@media (min-width: 768px) {
    .container{
        max-width: 720px;
    }
    .service-item .service-item{
        flex: 0 0 calc(50% - 2rem);
        max-width: calc(50% - 2rem);
    }
    .portfolio .portfolio-gallery .item{
        flex: 0 0 calc(50% - 2rem);
        max-width: calc(50% - 2rem);
    }
    .about .about-content .about-img{
        flex: 0 0 calc(33.33% - 1.5rem);
        max-width: calc(33.33% - 1rem);
        display: block;
    }
    .about .about-content .about-desc{
        flex: 0 0 calc(66.66% - 1.5rem);
        max-width: calc(66.66% - 1rem);
    }
    .blog .blog-content{
        flex: 0 0 calc(33.33% - 2rem);
        max-width: calc(33.33% - 2rem);
    }
    .skill .skill-desc{
        flex: 0 0 calc(50% - 3rem);
        max-width: calc(50% - 3rem);
    }
    .skill .skill-img{
        flex: 0 0 calc(50% - 3rem);
        max-width: calc(50% - 3rem);
        display: flex;
    }
    .customer .customer-slider .customer-item{
        flex: 0 0 30%;
        max-width: 30%;
    }
}

@media (min-width: 992px) {
    .container{
        max-width: 960px;
    }
    header .navbar ul{
        display: flex;
        position: relative;
        width: 100%;
        right: 0;
        top: 0;
        background: transparent;
        z-index: 1;
        text-align: center;
        visibility: visible;
        opacity: 1;
    }
    .hamburger-menu{
        display: none;
    }
    header .navbar ul li{
        width: auto;
        margin: auto;
        margin-left: 3.5rem;
    }
    .service .service-item{
        flex: 0 0 calc(33.33% - 2rem);
        max-width: (33.33% - 2rem);
    }
    .portfolio .portfolio-gallery .item{
        flex: 0 0 calc(33.33% - 2rem);
        max-width: calc(33.33% - 2rem);
    }
    .home .home-content h1{
        font-size: 7rem;
    }
    .skill .skill-desc .progress-bar .skill-progress h3{
        font-size: 1.5rem;
    }
    .portfolio .portfolio-gallery{
        height: auto;
    }
    .lightbox img{
        width: 70%;
        height: 70%;
    }    
}

@media (min-width: 1200px) {
    .container{
        max-width: 1140px;
    }
    .portfolio .portfolio-gallery{
        height: 600px;
    }
}

@media (min-width: 1400px) {
    .container{
        max-width: 1320px;
    }
}